.content-wrapper .bold{
	font-weight:600;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

textarea{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}

.image{
  margin-left:30px;
}

.thumb{
  margin: 10px 5px;
  width: 100px;
}




/*Datepicker*/

.datepicker-wrapper, .deadline-wrapper{
	margin: 20px 0px;
}

.deadline-wrapper span{
	margin-right:15px;
}

.deadline-wrapper img{
	margin-left: 10px;
}




/*property page*/

.service-block-container {
   display: flex;
   justify-content: center;
}

.service-block {
   min-width: 180px;
   width: 180px;
   height: 200px;
   position: relative;
   transition: all 0.3s ease-in-out;
   overflow: hidden;
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: #fff;
   color: #666;
   border: 1px solid #ccc;
   margin-bottom: 30px;
   padding: 0 10px;
   background-repeat: no-repeat;
   background-position: fixed;
}

.service-underlay {
   position: absolute;
   height: 60px;
   bottom: 0;
   left: 0;
   right: 0;
   top: 35%;
   background-color: rgb(226, 226, 226);
   padding-top: 18px;
   transition: all 0.3s ease-in-out;
}

.service-icon {
   position: absolute;
   top: 30px;
   left:0; 
   right: 0;
   font-size: 30px;
   transition: all 0.3s ease-in-out;
   color: #737373;
}

.service-name {
   margin: 0 auto;
   display: block;
   text-transform: Capitalize;
}

.service-desc {
   display: block;
   font-size: 12px;
   margin-top: 75px;
}

.service-underlay .cta {
   margin-top: 115px;
   display: inline-block;
   color: #fff;
   font-size: 14px;
}

.service-block:hover {
   transform: scale(1.1);
   cursor: pointer;
   border: 1px solid #141b41;
}

.service-block:hover .service-underlay {
   height: 200px;
   background-color: #141b41;
}

.service-block:hover .service-icon {
   color: #fff;
   transform: scale(1.5);
   top: 80px;
}

.service-block:hover .service-name {
   color: #fff;
   font-weight: bold;
}

.service-block:hover .service-desc {
   display: none;
}

.service-block .service-underlay .cta:hover {
   text-decoration: none;
}


/*Question */
.mr-20{
  margin-right:20px;
}
.mb-0{
  margin-bottom:0px;
}
#msform {
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  /*padding: 15px;*/
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
 /* width: 100%;*/
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#msform .file-input.image{
  margin:0px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #67d5bf;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #67d5bf;
}

.question-wrapper{
  text-align:left;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  counter-reset: step;
  text-align: center;
  display: flex;
  justify-content: center; 
  padding-left: 0px;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 10%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: coral;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: coral;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #67d5bf;
  color: white;
}
 
.remarks-wrapper{
  margin-top:20px;
}

.remarks-wrapper p, .remarks-wrapper textarea{
  display: inline-block;
  vertical-align: top;
  margin-right:20px;
}

.remarks-wrapper textarea{
  width:70%;
}

/*Property page*/

.table {
  width: 100%;
}

.tr:first-child {
  display: none;
}

.rh > span {
  display: block;
  position: relative;
}

/* Insert header name before each row on mobile */
.td:before {
  content: attr(data-header);
  float: left;
  width: 25%;
}

/* CSS border triangle trick */
.table .rh > span:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: black;
  z-index: 2;
  right: 15px;
  top: 14px;
  pointer-events: none;
}

/* Flip CSS border triangle on active */
.table .rh.active > span:after {
  border-top-color: transparent;
  border-bottom-color: black;
  top: 5px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .rh {
    display: none;
  }
  
  .table {
    display: table;
    width: 750px;
  }

  .thead {
    display: table-header-group;
  }

  .tbody {
    display: table-row-group;
  }

  .tr,
  .tr:first-child {
    display: table-row;
  }

  .th,
  .td {
    display: table-cell;
  }

  .td:before {
    content: "";
  }
}

.table {
  border: 1px solid #54c3e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box; 
  -moz-background-clip: padding; 
  background-clip: padding-box;
  overflow: hidden;
}

.th,
.rh > span {
  background: #74dbfc;
}

.tr .td:nth-child(even) {
  background: #dcf4fc;
}

.th,
.tr .td,
.rh,
.rh.active:nth-last-child(2) {
  border-bottom: 1px solid #54c3e8;
}

.rh:nth-last-child(2) {
  border-bottom: none;
}

.td {
  padding: 5px 15px;
}

.rh > span {
  padding: 5px 15px;
  font-size: 1.25em;
  font-weight: 600;
}

.tr:first-child,
.tr:last-child {
  border-bottom: none;
}

.tr:last-child .td:last-child {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .th,
  .td,
  .tr,
  .tr .td:last-child {
    border-bottom: 1px solid #54c3e8;
  }

  .th,
  .td {
    padding: 5px;
  }

  .th {
    border-right: 1px solid #00bfff;
  }

  .td {
    border-right: 1px solid #54c3e8;
  }

  .th:last-child,
  .td:last-child {
    border-right: none;
  }

  /* Unfortunately we cannot just use :nth-child(odd/even) since the
     .rh elements are interspersed in there. Until CSS 4 I don't
     think there will be a way to style alterating rows for this 
     without using JavaScript or whatever builds the table to add
     a special class. */
  .tr.alternate-highlight {
    background: #dcf4fc;
  }

  /* Reset Mobile Styles */
  .tr:last-child .td:first-child {
    border-top: none;
  }

  .tr:last-child .td {
    border-bottom: none;
  }

  .tr .td:nth-child(even) {
    background: none;
  }
}



 /*Image on upload previous uploaded images delete*/

.gallery-items{
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right:10px;
}

.gallery-items .cross{
  position: absolute;
  top: 0%;
  right: -15px;
  cursor: pointer;
  padding: 10px;
  background: #b9b9b9;
}

.gallery-items .cross:after, .gallery-items .cross:before {
  content: "";
  height: 15px;
  width: 15px;
  border-top: 1px solid #000;
  position: absolute;
  top: 7px;
  right: -4px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 1px;
}
.gallery-items .cross:before {
  right: 6px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#msform .select2-container--default .select2-search--inline .select2-search__field{
  border: 0px !important;
}

fieldset label{
  width: 150px;
}

select.form-control.priority-select {
  width: 26%;
  display: inline-block;
  height: calc(1.1em + 0.75rem + 2px);
  padding: 0.200rem 0.75rem;
}

#msform .selection{
  margin-right: 0px;
}

.property-tbl-td{
  text-align: center;
  display: table-cell;
  vertical-align: middle !important;
}

.language-switcher-wrapper img{
  margin-right: 10px;
  height: 15px;
  margin-top: 12px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .table-bordered{
    display: none;
  }
  .td{
    min-height: 35px;
  }
  .deadline-wrapper .priority-lebel{
    display: contents;
  }
  .deadline-wrapper select.form-control.priority-select{
    width: 50%;
  }
  .deadline-wrapper .select2.select2-container.select2-container--default{
    width: 100% !important;
  }
  .remarks-wrapper .remarks{
    width:98%;
  }
  /*.deadline-wrapper label{
    display: contents;
  }
  .deadline-wrapper .datepicker.hasDatepicker{
    width:53%;
  }*/
  #msform{
    margin-bottom: 60px;
  }
  #msform .action-button{
    display: inline-block;
    width: 45% !important;
  }
}





























.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}